@model TransportWeb.Models.StopInfo

@{
    ViewData["Title"] = "AddStopDetails";
}
<div class="row justify-content-between">
    <div class="col-4">
        <h4 class="text-success">Add Stop Details</h4>
    </div>
    <div class="col-2">
        <a class="btn btn-outline-dark" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</a>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStopDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="StopId" class="control-label"></label>
                <input asp-for="StopId" class="form-control" />
                <span asp-validation-for="StopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopName" class="control-label"></label>
                <input asp-for="StopName" class="form-control" />
                <span asp-validation-for="StopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteNum" class="control-label"> Route Name</label>
                <select asp-for="RouteNum" id="RouteName" class="form-control" asp-items="@Model.RouteList">
                    <option value="">Select Route</option>
                </select>
                <span asp-validation-for="RouteNum" class="text-danger"> </span>
            </div>
            @if (ViewBag.AddStopStatus == null)
            {
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            }
        </form>
    </div>
    <div class="col-md-8">
        @if (ViewBag.AddStopStatus != null)
        {
            @if (ViewBag.AddStopStatus == "Stop details successfully added")
            {
                <div class="Alert_card">
                    <div class="Alert_icon">
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    </div>
                    <h1 class="Alert_header">Success</h1>
                    <p class="Alert_msg">@ViewBag.AddStopStatus</p>
                    <div>
                        <a class="btn btn-success btn-sm mt-3" asp-action="AddStopDetails"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Add New Stop</a>
                    </div>
                </div>
            }
            else
            {
                <div class="Alert_card">
                    <div class="Alert_icon">
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    </div>
                    <h1 class="Alert_header text-danger">Oops...Sorry</h1>
                    <p class="Alert_msg"> @ViewBag.AddStopStatus</p>
                    <div>
                        <a class="btn btn-danger btn-sm mt-3" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

